/*oneday.html*/

/*Google Map API*/
#map-canvas {
	height: 400px;
	width: 100%;
	/*overflow:hidden;
	z-index:-999;*/
}

#food-submit-btn, #exercise-submit-btn {
	margin-top: 14px;
}

.oneday-hero {
	color: #414A52 !important;
}
#food-section {
	margin-top: -305px;
}
.add-submit-btn {
	background-color: #7AE2DE !important;
	border-color: #7AE2DE !important;
}
